* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #3b3b3b;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 50px;
}
.logo > a:nth-child(2) {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

nav ul {
  padding-right: 50px;
  width: 607px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  list-style: none;
  li a {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }
}
nav > ul > li:nth-child(4) {
  background-color: #a259ff;
  color: black;
  width: 152px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}
@media screen and (max-width: 992px) {
  header {
    padding: 0 20px;
    height: 80px;
  }

  .logo > a:nth-child(2) {
    font-size: 18px;
  }

  nav ul {
    width: 500px;
    gap: 5px;
  }

  nav ul li a {
    font-size: 14px;
  }

  nav > ul > li:nth-child(4) {
    width: 130px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  nav ul {
    display: none;
  }
}
