* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  background-color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  position: relative;
}
/* banner */
.banner {
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-items {
  width: 100%;
  display: grid;
  padding: 80px 115px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 30px;
}
.banner-item1 {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}
.banner-content {
  p:nth-child(1) {
    width: 70%;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 67px;
  }
  p:nth-child(2) {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    padding-top: 20px;
  }
}

.banner-item2 {
  animation: spin 5s linear alternate infinite;

  width: 100%;
  grid-column: 2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg) scale(1.1);
  }
}
.banner-img {
  width: 100%;
  background-color: #3b3b3b;
  border-radius: 30px;
  color: white;
  img {
    width: 100%;
  }
}
.banner-img > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding: 22px 20px 0px 20px;
}

.name {
  padding: 1px 20px 24px 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  img {
    height: 24px;
    width: 24px;
  }
  p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

.banner-item3 {
  button {
    width: 224px;
    height: 60px;
    gap: 12px;
    border-radius: 20px;
    background-color: #a259ff;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-family: "Work Sans", sans-serif;
      font-weight: 600;
      font-size: 16px;
      transition: all 0.3s ease;
    }
    img {
      transition: all 0.3s ease;
    }
  }
  button:hover img {
    transform: translateX(50px);
  }
  button:hover p {
    transform: translateX(30px);
    opacity: 0;
  }
  button:hover {
    box-shadow: 0px 0px 20px rgb(228, 186, 187);
  }

  .banner-small {
    gap: 70px;
    border-radius: 20px;
    display: flex;
  }
  .banner-small1 {
    width: 30%;
    padding-top: 40px;

    color: white;
    p:nth-child(1) {
      font-family: "Space Mono", monospace;
      font-weight: 700;
      font-size: 28px;
    }
    p:nth-child(2) {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 24px;
    }
  }
}

/* end banner */

/* trending */
.trending {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2b2b;
}
.trending-title {
  width: 100%;
  padding: 80px 115px 60px 115px;
  color: white;
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
}
.trending-cards {
  width: 100%;
  padding: 0px 115px 80px 115px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.trending-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card-img-big {
  min-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.trending-card-small {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 15px;
  img {
    min-width: 100%;
    min-height: 100%;
    transition: all ease 0.5s;
  }
  .img-small {
    transition: all ease 0.5s;
  }
  .img-small:hover {
    transform: scale(1.2);
  }

  .card-small {
    background-color: #a259ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    a {
      text-decoration: none;
      font-family: "Space Mono", monospace;
      font-weight: 700;
      font-size: 22px;
      color: white;
    }
  }
  .card-small:hover {
    transform: scale(1.2);
  }
}
.trending-name {
  display: flex;
  flex-direction: column;

  p {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    padding-bottom: 10px;
  }
  .trending-logo-name {
    display: flex;
    gap: 10px;
    flex-direction: row;
    a {
      text-decoration: none;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
    }
  }
}

/* end trending */

/* start creator */
.creator {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas:
    "creator-title creator-btn"
    "creator-cards creator-cards";
  align-items: center;
  background-color: #2b2b2b;
}
.creator-title {
  grid-area: creator-title;
  width: 100%;
  padding: 80px 0px 60px 115px;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  color: #fff;

  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
}
.creator-btn {
  width: 224px;
  height: 60px;
  gap: 12px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #a259ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 31px;
  p {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  img {
    transition: all 0.3s ease;
  }
}
.creator-btn:hover {
  border: 2px solid #a259ff;
  background-color: #a259ff;
  box-shadow: 0px 0px 10px rgb(193, 168, 168);
}
.creator-btn:hover img {
  transform: translateX(60px);
}
.creator-btn:hover p {
  transform: translateX(30px);
  opacity: 0;
}

.creator-cards {
  grid-area: creator-cards;
  width: 100%;
  padding: 0px 115px 80px 115px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.creator-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #3b3b3b;
  border-radius: 20px;
  img {
    padding: 25px 45px;
  }
}
.creator-card-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 20px 20px;
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
    color: white;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #858584;
    span {
      font-family: "Space Mono", monospace;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      letter-spacing: 2px;
    }
  }
}
.stt {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  color: #858584;
}

/* end creator */

/* start categories */

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2b2b;
}
.categories > p {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #fff;
  padding: 80px 115px 60px 115px;
}
.categories-cate {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 0px 115px 80px 115px;
}
.category {
  width: 100%;
  background-color: #3b3b3b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  p {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: white;
    padding: 20px 30px 25px 30px;
  }
}
.category-avt {
  position: relative;
  img:nth-child(1) {
    width: 100%;
    filter: blur(4px);
    min-height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }
}
.category-avt img:nth-child(1):hover {
  filter: blur(0px);
}
.category:hover .category-avt img:nth-child(1) {
  filter: blur(0px);
  transition: all ease-in-out 0.5s;
}
.category:hover {
  transition: all ease-in-out 0.5s;
  transform: scale(1.1);
  box-shadow: 4px 4px 10px gray;
}

/* end categories */

/* start discover */
.discover {
  width: 100%;
  display: grid;
  grid-template-areas:
    "discover-title discover-btn "
    "discover-cards discover-cards";
  align-items: center;
  justify-content: center;
  padding: 80px 115px 60px 115px;
}
.discover-title {
  grid-area: discover-title;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: #fff;
  padding: 0px 115px 60px 115px;
}
.discover-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: discover-btn;
  width: 187px;
  height: 60px;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid #a259ff;
  background-color: #2b2b2b;
  color: #fff;
  margin-left: 500px;
  img {
    transition: all ease 0.3s;
  }
  p {
    transition: all ease 0.3s;
  }
}
.discover-btn:hover {
  background-color: #e66cd6;
}
.discover-btn:hover img {
  transform: translateX(30px);
}
.discover-btn:hover p {
  transform: translateX(30px);
  opacity: 0;
}
.discover-btn:hover {
  box-shadow: 0px 0px 5px rgb(228, 186, 187);
}
.discover-title-small {
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
}
.discover-cards {
  grid-area: discover-cards;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 0px 115px 80px 115px;
}
.discover-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #3b3b3b;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}
.discover-card:hover {
  transform: scale(1.2) translate(-20px, -10px);
  box-shadow: 2px 2px 10px rgb(225, 165, 165);
}
.discover-card-name {
  padding: 20px 30px;
}
.discover-card-name > a {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}
.discover-name {
  display: flex;
  gap: 10px;
  padding-top: 5px;
  img {
    width: 24px;
    height: 24px;
  }
}
.price-item {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 25px 30px;
}
.price-item > .highest {
  p:nth-child(1) {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 12px;
    color: #858584;
  }
  p:nth-child(2) {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
}
/* end discover */
/* start magic */
.magic {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #2b2b2b;
}
.magic > img {
  width: 100%;
  position: absolute;
  height: 650px;
  object-fit: cover;
}
.magic-cards {
  display: grid;
  grid-template-areas:
    "magic-name btn-time"
    "btn-nft btn-time";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 360px 115px 60px 115px;
  z-index: 2;
}
.magic-name {
  grid-area: magic-name;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.magic-name > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 51px;
  padding: 30px 0;
}
.btn-name {
  width: 150px;
  height: 44px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background-color: #3b3b3b;
  img {
    width: 24px;
    height: 24px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
.magic-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #a259ff00 0%, #a259ff 100%);
  z-index: 1;
}
.btn-nft {
  grid-area: btn-nft;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  border: none;
  gap: 10px;
  p {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: all ease 0.3s;
  }
  img {
    transition: all ease 0.3s;
  }
}
.btn-nft:hover {
  background-color: #e66cd6;
}
.btn-nft:hover img {
  transform: translateX(40px);
}
.btn-nft:hover p {
  transform: translateX(30px);
  opacity: 0;
}

.btn-nft:hover {
  box-shadow: 0px 0px 5px rgb(228, 186, 187);
}
.countdown-box {
  background: #3b3b3b80;

  padding: 30px 0px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.countdown-box p {
  text-align: left;
  padding-left: 100px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #e5e5e5;
}

.timer {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 4px;
}

.labels {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 10px;
  font-size: 14px;
  color: #d1d1d1;
}
/* end magic */

/* start work */
.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2b2b;
}
.work-title {
  width: 100%;
  padding: 80px 115px 48px 115px;
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
}
.work-cards {
  height: auto;
  width: 100%;
  padding: 0px 115px 80px 115px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b3b3b;
  border-radius: 20px;
  img {
    padding: 10px 20px;
    width: 80%;
  }
}
.card-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 30px 30px 30px;
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
}
/* end work */
/* start join */
.join {
  width: 100%;
  background-color: #2b2b2b;
}
.join-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 115px 80px 115px;
}
.join-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3b3b3b;
  border-radius: 20px;
  img {
    width: 100%;
    padding: 60px 80px 60px 60px;
  }
}
.join-card-name {
  width: 100%;
  padding: 79px 60px 79px 0px;
  p:nth-child(1) {
    width: 60%;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 160%;
    padding-bottom: 40px;
  }
}
form {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;

  background-color: #fff;
  border-radius: 20px;
  input {
    width: 55%;
    height: 60px;
    border: none;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    outline: none;
  }
  button {
    width: 45%;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #a259ff;
    font-family: "Work Sans", sans-serif;
  }
}
/* end join */
.up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: red;
  right: 50px;
  bottom: 100px;
  border-radius: 20px;
  transition: all ease 1s;
  z-index: 10;
}
