* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  background-color: #2b2b2b;

  font-family: "Work Sans", sans-serif;
  color: #fff;
}
/* banner */
.banner {
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-items {
  width: 100%;
  display: grid;
  padding: 80px 115px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 30px;
}
.banner-item1 {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}
.banner-content {
  p:nth-child(1) {
    width: 70%;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 67px;
  }
  p:nth-child(2) {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    padding-top: 20px;
  }
}

.banner-item2 {
  animation: spin 5s linear alternate infinite;

  width: 100%;
  grid-column: 2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg) scale(1.2);
  }
}
.banner-img {
  width: 100%;
  background-color: #3b3b3b;
  border-radius: 30px;
  color: white;
  img {
    width: 100%;
  }
}
.banner-img > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding: 22px 20px 0px 20px;
}

.name {
  padding: 1px 20px 24px 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  img {
    height: 24px;
    width: 24px;
  }
  p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

.banner-item3 {
  button {
    width: 224px;
    height: 60px;
    gap: 12px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
    background-color: #a259ff;
    color: white;
    border: none;
  }

  .banner-small {
    /* width: 510px;
    height: 77px; */
    gap: 70px;
    border-radius: 20px;
    display: flex;
  }
  .banner-small1 {
    width: 30%;
    padding-top: 40px;

    color: white;
    p:nth-child(1) {
      font-family: "Space Mono", monospace;
      font-weight: 700;
      font-size: 28px;
    }
    p:nth-child(2) {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 24px;
    }
  }
}

/* end banner */

/* trending */
.trending {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2b2b;
}
.trending-title {
  width: 100%;
  padding: 80px 115px 60px 115px;
  color: white;
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
}
.trending-cards {
  width: 100%;
  padding: 0px 115px 80px 115px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.trending-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card-img-big {
  min-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.trending-card-small {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 15px;
  img {
    min-width: 100%;
    min-height: 100%;
  }
  .card-small {
    background-color: #a259ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      font-family: "Space Mono", monospace;
      font-weight: 700;
      font-size: 22px;
      color: white;
    }
  }
}
.trending-name {
  display: flex;
  flex-direction: column;

  p {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    padding-bottom: 10px;
  }
  .trending-logo-name {
    display: flex;
    gap: 10px;
    flex-direction: row;
    a {
      text-decoration: none;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
    }
  }
}

/* end trending */

/* start creator */
.creator {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas:
    "creator-title creator-btn"
    "creator-cards creator-cards";
  align-items: center;
  background-color: #2b2b2b;
}
.creator-title {
  grid-area: creator-title;
  width: 100%;
  padding: 80px 0px 60px 115px;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  color: #fff;

  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
}
.creator-btn {
  flex-direction: row-reverse;
  padding: 0px 50px 0px 50px;
  grid-area: creator-btn;
  width: 247px;
  height: 60px;
  gap: 12px;
  margin: 31px;
  border-radius: 20px;
  border: 2px solid #a259ff;
  background-color: #2b2b2b;
  color: #fff;
}

.creator-cards {
  grid-area: creator-cards;
  width: 100%;
  padding: 0px 115px 80px 115px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.creator-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #3b3b3b;
  border-radius: 20px;
  img {
    padding: 25px 45px;
  }
}
.creator-card-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 20px 20px;
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
    color: white;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #858584;
    span {
      font-family: "Space Mono", monospace;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      letter-spacing: 2px;
    }
  }
}
.stt {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  color: #858584;
}

/* end creator */

/* start categories */

.categories {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2b2b;
}
.categories > p {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #fff;
  padding: 80px 115px 60px 115px;
}
.categories-cate {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 0px 115px 80px 115px;
}
.category {
  width: 100%;
  background-color: #3b3b3b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  p {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: white;
    padding: 20px 30px 25px 30px;
  }
}
.category-avt {
  position: relative;
  img:nth-child(1) {
    width: 100%;
    filter: blur(4px);
    min-height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }
}
.category-avt img:nth-child(1):hover {
  filter: blur(0px);
}
.category:hover .category-avt img:nth-child(1) {
  filter: blur(0px);
  transition: all ease-in-out 0.5s;
}
.category:hover {
  transition: all ease-in-out 0.5s;
  transform: scale(1.1);
  box-shadow: 4px 4px 10px gray;
}

/* end categories */

/* start discover */
.discover {
  width: 100%;
  display: grid;
  grid-template-areas:
    "discover-title discover-btn "
    "discover-cards discover-cards";
  align-items: center;
  border: 1px solid red;
}
.discover-title {
  grid-area: discover-title;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: #fff;
  padding: 80px 20px 60px 20px;
}
.discover-btn {
  grid-area: discover-btn;
  width: 187px;
  height: 60px;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid #a259ff;
  background-color: #2b2b2b;
  color: #fff;
  margin-left: 800px;
}
.discover-title-small {
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
}
.discover-cards {
  grid-area: discover-cards;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 0px 20px 80px 20px;
}
.discover-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #3b3b3b;
  border-radius: 20px;
}
.discover-card-name {
  padding: 20px 30px;
}
.discover-card-name > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 10px;
}
.discover-name {
  display: flex;
  gap: 10px;
}
