* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #111;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
/* banner */
/* .banner {
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-items {
  width: 100%;
  display: grid;
  padding: 80px 115px;
  grid-template-areas:
    "i1 i2"
    "i3 i2";
  gap: 30px;
}
.banner-item1 {
  grid-area: i1;
  width: 100%;
  button {
    width: 224px;
    height: 60px;
    gap: 12px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
    background-color: #a259ff;
    color: white;
    border: none;
  }
}
.banner-content {
  p:nth-child(1) {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 67px;
  }
  p:nth-child(2) {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
} */

/* .banner-small {
  width: 510px;
  height: 77px;
  gap: 70px;
  border-radius: 20px;
  display: flex;
} */
/* .banner-small1 {
  width: 30%;
  padding-top: 40px;

  color: white;
  p:nth-child(1) {
    font-family: Space Mono;
    font-weight: 700;
    font-size: 28px;
  }
  p:nth-child(2) {
    font-family: Work Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
  }
} */
/* .banner-item2 {
  grid-area: i2;
  width: 100%;
  display: flex;
  justify-content: center;
} */
/* .banner-img {
  width: 100%;
  background-color: #3b3b3b;
  border-radius: 20px;
  color: white;
} */
/* .banner-name {
  padding-left: 20px;
  padding-top: 10px;
  p:nth-child(1) {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 22px;
  }
  .name {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      height: 24px;
      width: 24px;
    }
    p {
      font-family: Work Sans;
      font-weight: 400;
      font-size: 16px;
    }
  }
} */
/* .banner-item3 {
  grid-area: i3;
  width: 100%;
  display: flex;
  justify-content: center;
} */
/* end banner */

/* container2 */
/* container-2{
  .container2 {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2b2b;
}
.container2-title {
  width: 1250px;
  height: 91px;
  margin-top: 80px;
  color: white;
  p:nth-child(1) {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 22px;
  }
}
.container2-cards {
  width: 1250px;
  height: 600px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.container2-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card-img-big {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px;
}
.container2-card-small {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
  gap: 15px;
  img {
    width: 100%;
    height: 100%;
  }
  .card-small {
    background-color: #a259ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-family: Space Mono;
      font-weight: 700;
      font-size: 22px;
      color: white;
    }
  }
}
.container2-name {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  p {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
  }
  .container2-logo-name {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    p {
      font-family: Work Sans;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
} */
/* end container2 */

/* start container 3 */
.container3 {
  width: 100%;
  padding: 80px 115px 60px 115px;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  background-color: #2b2b2b;
  button {
    width: 247px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid #a259ff;
    background-color: #2b2b2b;
    color: #fff;
  }
}
.container3-title {
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: #fff;
}
.container3-title-small {
  p:nth-child(1) {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 22px;
  }
}
.container3-cards {
  width: 1250px;
  height: 900px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.container3-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 280px;
  background-color: #3b3b3b;
  border-radius: 20px;
  img {
    padding: 25px 45px;
  }
}
.container3-card-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  p:nth-child(1) {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
    color: white;
  }
  p:nth-child(2) {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    color: #858584;
    span {
      font-family: Space Mono;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      letter-spacing: 2px;
    }
  }
}
.stt {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  color: #858584;
}

/* end container3 */

/* start container4 */

/* container-4{
  .container4 {
  width: 100%;
  height: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2b2b;
}
.container4 > p {
  width: 1250px;
  margin-top: 80px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #fff;
}
.container4-categories {
  width: 1250px;
  height: 730px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
}
.category {
  width: 100%;
  height: 350px;
  background-color: #3b3b3b;
  border-radius: 20px;
  img {
    width: 100%;
    height: 75%;
  }
  p {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 22px;
    padding-top: 25px;
    padding-left: 35px;
    color: white;
  }
}
} */
/* end container4 */

/* start container5 */
/* container-5{
  .container5 {
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.container5-title {
  width: 100%;
  height: 91px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: #fff;
  padding: 0 40px;

  button {
    width: 187px;
    height: 60px;
    gap: 12px;
    margin: 31px;
    border-radius: 20px;
    border: 2px solid #a259ff;
    background-color: #2b2b2b;
    color: #fff;
    margin-right: 0px;
  }
}
.container5-title-small {
  p:nth-child(1) {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 22px;
  }
}
.container5-cards {
  width: 96%;
  height: 469px;
  background-color: red;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.container5-card {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #3b3b3b;
  border-radius: 20px;
}
.container5-card-name {
  padding: 20px 30px;
}
.container5-card-name > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 10px;
}
.container5-name {
  display: flex;
  gap: 10px;
}
} */
