* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #111;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.banner {
  width: 1280px;
  width: 100%;
  height: auto;
  background-color: #2b2b2b;
  color: white;
  padding: 80px 115px;
}
.banner > h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 51px;
}
.search-box {
  max-width: 1050px;
  height: 60px;
  border: 1px solid #3b3b3b;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.banner > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.search-box > input {
  width: 95%;
  height: 22px;
  gap: 20px;
  color: #858584;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 20px;
}

/* container */
.container {
  width: 100%;
  height: auto;
  border-top: 2px solid #3b3b3b;
  border-bottom: 2px solid #2b2b2b;
  background-color: #3b3b3b;
}
/* container-header */
/* container-header */
.container-header {
  max-width: 100%;
  max-height: 80px;
  min-height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  padding: 10px 115px 0px 115px;
  background-color: #2b2b2b;
  justify-content: center;
}
.nfts {
  align-items: center;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;

  button {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #3b3b3b;
    color: #fff;
    border: none;
  }
}
.nfts > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.nfts:hover {
  border-bottom: 4px solid #3b3b3b;
  button {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #858584;
    color: #fff;
    border: none;
  }
}
/* end container-header */
.cards {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 115px 80px 115px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
}
.card-item {
  background-color: #2b2b2b;
  border-radius: 20px;
  object-fit: cover;
  color: white;
  transition: all 0.3s ease;
  transform-origin: bottom right;
}
.card-item:hover {
  transform: scale(1.02) translate(-3px, -3px);
  box-shadow: 0 8px 20px rgba(254, 253, 253, 0.3); /* đổ bóng đậm hơn khi hover */
}
.card-item > img {
  width: 100%;
  height: 390px;
  border-radius: 20px 20px 0 0;
}
.card-item > h3 {
  width: 100%;
  padding: 20px 30px 0px 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.avatar-item {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 12px;
  padding: 5px 30px 25px 30px;
}
.avatar-item > img {
  width: 24px;
  height: 24px;
}
.price-item {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 25px 30px;
}
.price-item > .highest {
  p:nth-child(1) {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 12px;
    color: #858584;
  }
  p:nth-child(2) {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
}
/* end join */
#btnUp {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #a259ff;
  color: white;
  font-size: 22px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

/* Khi hiện */
#btnUp.show {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 77px 80px 77px;
  }
}

/* Mobile lớn (2 cột) */
@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 77px 80px 77px;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    padding: 40px 30px;
  }
  .banner > h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 28px;
  }
  .banner > p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 30px;
  }
  .nfts {
    button {
      opacity: 0;
    }
  }
}
